.navbar{
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);


    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 50px;
        height: 70px;
       
       
        
        .left{
            display: flex;
            align-items: center;
            justify-content: space-between;
           span{
            margin: 10px;
            cursor: pointer;
           }
           img{
            height: 55px;
        }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 20px;
            
            .icon{
                cursor: pointer;
                margin: 0 10px;
            }
            span{
                margin: 0 10px;
                cursor: pointer;
            }
            .icon1{
                cursor: pointer;
            }
            .profils{
                .options{
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
                    padding-right: 15px;
                }
                span{
                    padding: 10px;
                }

                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                }
            }
        }
        
        
    }
}